@use 'sass:math';
@use 'utilities' as *;
@use 'sass:color';

$size: 100vmin;

#circle {
  display: inline-block;
  @include space(0);
  position: relative;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  border: solid thin;
  //border-radius: 50% 50% 30% 30%/ 40% 40% 70% 70%;
  border-radius: 50%;
  //overflow: clip;
  @include size($size);
  perspective: 0.8 * $size;
}
.threeHours {
  //border: yellow solid thin;
  display: none;
  position: absolute;
  //perspective-origin:50%;
  //perspective: none;
  transform-style: preserve-3d;
  transform-origin: center 0 0;
  height: 20%;
  width: calc(2 * 50% * math.$pi / 8);
  $horizontal1: 12.25%; //done
  $vertical1: -12.5%;
  $vertical11: 7.5%;
  $horizontal2: -11.8%;
  $vertical2: 24.2%;
  $vertical22: 14.2%;
  $rotateX: rotateX(-90deg);
  &.nth1 {
    transform: rotateZ(202.5deg) $rotateX;
    bottom: $vertical1;
    left: $horizontal1;
  }
  &.nth2 {
    transform: rotateZ(247.5deg) $rotateX;
    bottom: $vertical22;
    left: $horizontal2;
  }
  &.nth3 {
    transform: rotateZ(-67.5deg) $rotateX;
    top: $vertical2;
    left: $horizontal2;
  }
  &.nth4 {
    transform: rotateZ(-22.5deg) $rotateX;
    top: $vertical11;
    left: $horizontal1;
  }
  &.nth5 {
    transform: rotateZ(22.5deg) $rotateX;
    top: $vertical11;
    right: $horizontal1;
  }
  &.nth6 {
    transform: rotateZ(67.5deg) $rotateX;
    top: $vertical2;
    right: $horizontal2;
  }
  &.nth7 {
    transform: rotateZ(112.5deg) $rotateX;
    bottom: $vertical22;
    right: $horizontal2;
  }
  &.nth8 {
    transform: rotateZ(157.5deg) $rotateX;
    bottom: $vertical1;
    right: $horizontal1;
  }
}
.hour {
  border: cyan solid thin;
  border-left: none;
  background: color.adjust(yellowgreen, $alpha: -0.5);
  display: inline-block;
  transform-origin: 50% 0;
  position: absolute;
  //sideLength= 2r * sin(π/numberGon)        circle & poligon
  $hourW: 2 * 50% * math.sin(math.$pi / 24);
  $hourW: $hourW + 2 / 100 * $hourW;
  $hourH: 18%; //25%
  @include size($hourW, $hourH);
  $rotateX: rotateX(-90deg);
  &.nth1 {
    bottom: -0.98 * $hourH;
    right: 49.9%;
    transform: rotateZ(187.5deg) $rotateX;
  }
  &.nth2 {
    bottom: -0.79 * $hourH;
    left: 50% - 1.94 * $hourW;
    transform: rotateZ(202.5deg) $rotateX;
  }
  &.nth3 {
    bottom: -0.43 * $hourH;
    left: 50% - 2.79 * $hourW;
    transform: rotateZ(217.5deg) $rotateX;
  }
  &.nth4 {
    bottom: 0.085 * $hourH;
    left: 50% - 3.485 * $hourW;
    transform: rotateZ(232.5deg) $rotateX;
  }
  &.nth5 {
    bottom: 12.8%;
    left: -0.215 * $hourW;
    transform: rotateZ(247.5deg) $rotateX;
  }

  &.nth6 {
    top: 49.9% + 0.5 * $hourW;
    left: -0.47 * $hourW;
    transform: rotateZ(262.5deg) $rotateX;
  }
  &.nth7 {
    bottom: 38.5%;
    left: -0.47 * $hourW;
    transform: rotateZ(277.5deg) $rotateX;
  }

  &.nth8 {
    top: 30.9%;
    left: -0.216 * $hourW;
    transform: rotateZ(292.5deg) $rotateX;
  }
  &.nth9 {
    top: 1.09 * $hourH;
    left: 50% - 3.485 * $hourW;
    transform: rotateZ(307.5deg) $rotateX;
  }
  &.nth10 {
    top: 0.573 * $hourH;
    left: 50% - 2.795 * $hourW;
    transform: rotateZ(322.5deg) $rotateX;
  }
  &.nth11 {
    top: 0.21 * $hourH;
    left: 50% - 1.942 * $hourW;
    transform: rotateZ(337.5deg) $rotateX;
  }

  &.nth12 {
    top: .02*$hourH;
    right: 49.9%;
    transform: rotateZ(352.5deg) $rotateX;
  }
  &.nth13 {
    top: .02*$hourH;
    left: 49.9%;
    transform: rotateZ(7.5deg) $rotateX;
  }

  &.nth14 {
    top: 0.21 * $hourH;
    right: 50% - 1.942 * $hourW;
    transform: rotateZ(22.5deg) $rotateX;
  }
  &.nth15 {
    top: 0.573 * $hourH;
    right: 50% - 2.795 * $hourW;
    transform: rotateZ(37.5deg) $rotateX;
  }
  &.nth16 {
    top: 1.09 * $hourH;
    right: 50% - 3.485 * $hourW;
    transform: rotateZ(52.5deg) $rotateX;
  }
  &.nth17 {
    top: 30.9%;
    right: -0.216 * $hourW;
    transform: rotateZ(67.5deg) $rotateX;
  }
  &.nth18 {
    bottom: 38.5%;
    right: -0.47 * $hourW;
    transform: rotateZ(82.5deg) $rotateX;
  }
  &.nth19 {
    top: 49.9% + 0.5 * $hourW;
    right: -0.47 * $hourW;
    transform: rotateZ(97.5deg) $rotateX;
  }
  &.nth20 {
    bottom: 12.8%;
    right: -0.215 * $hourW;
    transform: rotateZ(112.5deg) $rotateX;
  }
  &.nth21 {
    bottom: 0.085 * $hourH;
    right: 50% - 3.485 * $hourW;
    transform: rotateZ(127.5deg) $rotateX;
  }
  &.nth22 {
    bottom: -0.43 * $hourH;
    right: 50% - 2.79 * $hourW;
    transform: rotateZ(142.5deg) $rotateX;
  }
  &.nth23 {
    bottom: -0.79 * $hourH;
    right: 50% - 1.94 * $hourW;
    transform: rotateZ(157.5deg) $rotateX;
  }
  &.nth24 {
    bottom: -0.98 * $hourH;
    left: 49.9%;
    transform: rotateZ(172.5deg) $rotateX;
  }
}
.minute {
  border-right: solid thin orangered;
  border-bottom: solid thin orangered;
  display: inline-block;
  width: calc(100% / 6);
  height: 50%;
  &.nth6 {
    border-right: none;
  }
}
