@use 'sass:math';
@use 'utilities' as *;
@use 'sass:color';
@use 'sass:list';

$size: 90vmin;
$border: 0.3/100 * $size;
$border1: $border solid;
$border2: 1.5 * $border solid;
$border3: 2.3 * $border solid;
$backgroundColor: #111;
#dayCircleCtx {
  background: $backgroundColor;
  display: inline-block;
  @include space(0);
  position: relative;
  //border: $border1;
  //border-radius: 50% 50% 30% 30%/ 40% 40% 70% 70%;
  border-radius: 50%;
  overflow: clip;
  @include size($size);
}
#centerCircle {
  border: $border3;
  border-radius: 50%;
  display: inline-block;
  @include size(68%);
  position: absolute;
  $offset: 16%;
  top: $offset;
  left: $offset;
  background: $backgroundColor;
}
#threeHoursCtx {
  @include size(75.7%);
  background: $backgroundColor;
  display: inline-block;
  position: absolute;
  $offset: 12.15%;
  top: $offset;
  left: $offset;
  perspective: 0.8 * $size;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  transform: rotate(-0.4deg);
  //background: $backgroundColor;
  border: $border2;
  border-radius: 50%;
  outline: $border1;
  outline-offset: 0.029 * $size;
  overflow: clip;
}
.threeHours {
  border-left: $border3;
  background: $backgroundColor;
  display: inline-block;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 50% 0;

  //sideLength= 2r * sin(π/numberGon)        circle & poligon
  $width: 2 * 50% * math.sin(math.$pi / 8);
  $width: $width + 9/100 * $width;
  $height: 30%;
  @include size($width, $height);
  $rotateX: rotateX(-90deg);
  @at-root ._3h1 {
    transform: rotateZ(202.5deg) $rotateX;
    bottom: -0.873 * $height;
    right: 48.1%;
  }
  @at-root ._3h2 {
    transform: rotateZ(247.5deg) $rotateX;
    bottom: 0.5%;
    left: -17.4%;
  }
  @at-root ._3h3 {
    transform: rotateZ(-67.5deg) $rotateX;
    top: 31.045%;
    left: -17.5%;
  }
  @at-root ._3h4 {
    transform: rotateZ(-22.5deg) $rotateX;
    top: 3.7%;
    left: 9.6%;
  }
  @at-root ._3h5 {
    transform: rotateZ(22.5deg) $rotateX;
    top: 3.5%;
    right: 10%;
  }
  @at-root ._3h6 {
    transform: rotateZ(67.5deg) $rotateX;
    top: 30.61%;
    right: -17.2%;
  }
  @at-root ._3h7 {
    transform: rotateZ(112.5deg) $rotateX;
    bottom: 0.99%;
    right: -17.4%;
  }
  @at-root ._3h8 {
    transform: rotateZ(157.5deg) $rotateX;
    bottom: -0.876 * $height;
    left: 48.6%;
  }
}
#hoursCtx {
  @include size(90%);
  display: inline-block;
  position: absolute;
  $offset: 5%;
  top: $offset;
  left: $offset;
  perspective: 0.8 * $size;
  perspective-origin: 50%;
  transform-style: preserve-3d;
  //background-color: green;
  border: $border3;
  border-radius: 50%;
  //overflow: clip;
}
.hourCtx {
  display: flex;
  justify-content: right;
  border-right: $border2;
  border-left: none;
  $border-radius: 100% 8%;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  //background: color.adjust(yellowgreen, $alpha: -0.5);
  transform-origin: 50% 0;
  position: absolute;
  //overflow: clip;
  //sideLength= 2r * sin(π/numberGon)        circle & poligon
  $hourW: 2 * 50% * math.sin(math.$pi / 24);
  $hourW: $hourW + 2 / 100 * $hourW;
  $hourH: 18%; //25%
  @include size($hourW, $hourH);
  $rotateX: rotateX(-90deg);
  &:nth-child(3n) {
    border-right: $border3;
  }
  $font-size: 4/100 * $size;
  &::after {
    content: attr(data-hour);
    font: $font-size sans-serif;
    position: absolute;
    transform-origin: 50%;
    bottom: 110%;
    right: -0.5 * $font-size;
    display: inline-block;
    //border:  cyan $border-size;
  }
  &:nth-child(1n):nth-child(-1n + 9)::after,
  &:nth-child(24)::after {
    right: -0.5 * $font-size;
  }
  &.hCtx3::after,
  &.hCtx6::after,
  &.hCtx9::after,
  &.hCtx12::after,
  &.hCtx15::after,
  &.hCtx18::after,
  &.hCtx21::after,
  &.hCtx24::after {
    font-size: 1.4 * $font-size;
    right: -1 * $font-size;
  }
  &.hCtx24::after {
    right: -0.5 * $font-size;
  }
  $label-transforms: rotateZ(8deg);
  @at-root .hCtx1 {
    bottom: -0.98 * $hourH;
    right: 49.9%;
    transform: rotateZ(187.5deg) $rotateX;
    &::after {
      transform: rotateZ(180deg) $label-transforms;
    }
  }
  @at-root .hCtx2 {
    bottom: -0.79 * $hourH;
    left: 50% - 1.94 * $hourW;
    transform: rotateZ(202.5deg) $rotateX;
    &::after {
      transform: rotateZ(180deg) $label-transforms;
    }
  }
  @at-root .hCtx3 {
    bottom: -0.43 * $hourH;
    left: 50% - 2.79 * $hourW;
    transform: rotateZ(217.5deg) $rotateX;
    &::after {
      transform: rotateZ(140deg) $label-transforms;
    }
  }
  @at-root .hCtx4 {
    bottom: 0.085 * $hourH;
    left: 50% - 3.485 * $hourW;
    transform: rotateZ(232.5deg) $rotateX;
    &::after {
      transform: rotateZ(130deg) $label-transforms;
    }
  }
  @at-root .hCtx5 {
    bottom: 12.8%;
    left: -0.215 * $hourW;
    transform: rotateZ(247.5deg) $rotateX;
    &::after {
      transform: rotateZ(110deg) $label-transforms;
    }
  }

  @at-root .hCtx6 {
    top: 49.9% + 0.5 * $hourW;
    left: -0.47 * $hourW;
    transform: rotateZ(262.5deg) $rotateX;
    &::after {
      transform: rotateZ(90deg) $label-transforms;
    }
  }
  @at-root .hCtx7 {
    bottom: 38.5%;
    left: -0.47 * $hourW;
    transform: rotateZ(277.5deg) $rotateX;
    &::after {
      transform: rotateZ(70deg) $label-transforms;
    }
  }

  @at-root .hCtx8 {
    top: 30.9%;
    left: -0.216 * $hourW;
    transform: rotateZ(292.5deg) $rotateX;
    &::after {
      transform: rotateZ(60deg) $label-transforms;
    }
  }
  @at-root .hCtx9 {
    top: 1.09 * $hourH;
    left: 50% - 3.485 * $hourW;
    transform: rotateZ(307.5deg) $rotateX;
    &::after {
      transform: rotateZ(40deg) $label-transforms;
    }
  }
  @at-root .hCtx10 {
    top: 0.573 * $hourH;
    left: 50% - 2.795 * $hourW;
    transform: rotateZ(322.5deg) $rotateX;
    &::after {
      transform: rotateZ(0deg) $label-transforms;
    }
  }
  @at-root .hCtx11 {
    top: 0.21 * $hourH;
    left: 50% - 1.942 * $hourW;
    transform: rotateZ(337.5deg) $rotateX;
    &::after {
      transform: rotateZ(0deg) $label-transforms;
    }
  }

  @at-root .hCtx12 {
    top: 0.02 * $hourH;
    right: 49.9%;
    transform: rotateZ(352.5deg) $rotateX;
    &::after {
      transform: rotateZ(0deg) $label-transforms;
    }
  }
  @at-root .hCtx13 {
    top: 0.02 * $hourH;
    left: 49.9%;
    transform: rotateZ(7.5deg) $rotateX;
    &::after {
      transform: rotateZ(0deg) $label-transforms;
    }
  }

  @at-root .hCtx14 {
    top: 0.21 * $hourH;
    right: 50% - 1.942 * $hourW;
    transform: rotateZ(22.5deg) $rotateX;
    &::after {
      transform: rotateZ(0deg) $label-transforms;
    }
  }
  @at-root .hCtx15 {
    top: 0.573 * $hourH;
    right: 50% - 2.795 * $hourW;
    transform: rotateZ(37.5deg) $rotateX;
    &::after {
      transform: rotateZ(-50deg) $label-transforms;
    }
  }
  @at-root .hCtx16 {
    top: 1.09 * $hourH;
    right: 50% - 3.485 * $hourW;
    transform: rotateZ(52.5deg) $rotateX;
    &::after {
      transform: rotateZ(-70deg) $label-transforms;
    }
  }
  @at-root .hCtx17 {
    top: 30.9%;
    right: -0.216 * $hourW;
    transform: rotateZ(67.5deg) $rotateX;
    &::after {
      transform: rotateZ(-80deg) $label-transforms;
    }
  }
  @at-root .hCtx18 {
    bottom: 38.5%;
    right: -0.47 * $hourW;
    transform: rotateZ(82.5deg) $rotateX;
    &::after {
      transform: rotateZ(-90deg) $label-transforms;
    }
  }
  @at-root .hCtx19 {
    top: 49.9% + 0.5 * $hourW;
    right: -0.47 * $hourW;
    transform: rotateZ(97.5deg) $rotateX;
    &::after {
      transform: rotateZ(-110deg) $label-transforms;
    }
  }
  @at-root .hCtx20 {
    bottom: 12.8%;
    right: -0.215 * $hourW;
    transform: rotateZ(112.5deg) $rotateX;
    &::after {
      transform: rotateZ(-130deg) $label-transforms;
    }
  }
  @at-root .hCtx21 {
    bottom: 0.085 * $hourH;
    right: 50% - 3.485 * $hourW;
    transform: rotateZ(127.5deg) $rotateX;
    &::after {
      transform: rotateZ(-140deg) $label-transforms;
    }
  }
  @at-root .hCtx22 {
    bottom: -0.43 * $hourH;
    right: 50% - 2.79 * $hourW;
    transform: rotateZ(142.5deg) $rotateX;
    &::after {
      transform: rotateZ(180deg) $label-transforms;
    }
  }
  @at-root .hCtx23 {
    bottom: -0.79 * $hourH;
    right: 50% - 1.94 * $hourW;
    transform: rotateZ(157.5deg) $rotateX;
    &::after {
      transform: rotateZ(180deg) $label-transforms;
    }
  }
  @at-root .hCtx24 {
    bottom: -0.98 * $hourH;
    left: 49.9%;
    transform: rotateZ(172.5deg) $rotateX;
    &::after {
      transform: rotateZ(180deg) $label-transforms;
    }
  }
}
.hour {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  @include size(97.2%, 57%);
  background: $backgroundColor;
  //border-top: orangered  (2 * $border-size);
  $border-radius: 50% 10%;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
.minute {
  border-right: $border1;
  display: inline-block;
  flex: auto;
  //background: yellowgreen;
  //width: calc(100% / 6);
  height: 50%;
  &.m1 {
    margin-left: .45 * list.nth($border1, 1);
  }
  &.m6 {
    border-right: none;
    margin-right: -0.1 * list.nth($border1, 1);
  }
  &:nth-child(1) {
    border-top-left-radius: 100% 5%;
  }

  &:nth-child(6) {
    border-top-right-radius: 100% 5%;
  }
}
